<div class="grid gap-5">
  <section class="border border-gray-200 rounded-xl bg-white p-5 grid gap-y-7">

    <div class="flex items-center gap-x-2">
      <lucide-icon [name]="Heart" class="size-4" />
      <h2 class="text-lg font-semibold">Sigue brillando</h2>
    </div>

    <div class="text-center space-y-3">
      <p class="text-4xl font-semibold text-primary">45</p>
      <p class="text-sm text-gray-600">¡Tus proyectos han inspirado a muchos compañeros!</p>
    </div>

    <div class="text-center">
      <button type="button"
        class="text-sm font-semibold text-primary hover:underline">
        Haz click para ver estadísticas
      </button>
    </div>

  </section>

  <section class="border border-gray-200 rounded-xl bg-white p-5 grid gap-y-7">

    <h2 class="text-lg font-semibold">Skills (8)</h2>

    <div class="flex flex-wrap items-center gap-2">
      <button type="button"
        class="py-2 text-sm font-semibold px-3 rounded-lg bg-primary text-white">
        <p>Programación</p>
      </button>
      <button type="button"
        class="py-2 text-sm font-semibold px-3 rounded-lg bg-primary text-white">
        <p>MongoDB</p>
      </button>
      <button type="button"
        class="py-2 text-sm font-semibold px-3 rounded-lg bg-primary text-white">
        <p>MongoDB</p>
      </button>
      <button type="button"
        class="py-2 text-sm font-semibold px-3 rounded-lg bg-primary text-white">
        <p>Javascript</p>
      </button>
    </div>

    <div class="text-center">
      <button type="button"
        class="text-sm font-semibold text-primary hover:underline">
        Haz click para ver detalles completos
      </button>
    </div>

  </section>
</div>

