<!-- Add Post -->
<div class="w-full py-3 px-5 rounded-xl border border-gray-200 flex gap-x-3">

  <!-- Button Profile -->
  <a
    href="#"
    class="size-10 min-w-10 rounded-full bg-white hover:shadow overflow-hidden">
    <img src="https://avatars.githubusercontent.com/u/148911330?v=4" alt="" class="h-full w-full object-cover">
  </a>

  <!-- Button Input Add Post -->
  <button
    type="button"
    class="rounded-full px-4 py-2 text-sm bg-gray-50 border border-gray-200  w-full text-start hover:shadow"
    aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-scale-animation-modal" data-hs-overlay="#hs-scale-animation-modal">
    ¿Que estás pensando Juan Pérez?
  </button>
</div>
<!-- End Add Post -->


<!-- Modal Add Post -->
<div id="hs-scale-animation-modal" class="hs-overlay hidden size-full fixed top-0 start-0 z-80 overflow-x-hidden overflow-y-auto pointer-events-none" role="dialog" tabindex="-1" aria-labelledby="hs-scale-animation-modal-label">
  <div class="hs-overlay-animation-target hs-overlay-open:scale-100 hs-overlay-open:opacity-100 scale-95 opacity-0 ease-in-out transition-all duration-200 sm:max-w-xl sm:w-full m-3 sm:mx-auto min-h-[calc(100%-56px)] flex items-center">
    <form
      class="w-full flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl pointer-events-auto">

      <!-- Title -->
      <div class="flex justify-between items-center py-3 px-4 border-b border-gray-200">
        <h3 id="hs-scale-animation-modal-label" class="font-semibold text-lg">
          Crear publicación
        </h3>
        <button type="button" class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none" aria-label="Close" data-hs-overlay="#hs-scale-animation-modal">
          <span class="sr-only">Close</span>
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
      <!-- End Title -->

      <!-- Content -->
      <div class="p-4 overflow-y-auto space-y-5">

        <!-- Type -->
        <div class="flex items-center gap-x-2">
          <p class="text-sm font-semibold pr-2">Tipo de publicación:</p>

          <button class="flex items-center text-xs font-semibold gap-x-1 rounded-full border border-primary bg-primary text-white px-2.5 py-1.5">
            <lucide-icon [name]="Folder" class="size-3.5" />
            <span>Proyecto</span>
          </button>
          <button class="flex items-center text-xs font-semibold gap-x-1 rounded-full border border-primary bg-white text-primary px-2.5 py-1.5">
            <lucide-icon [name]="Lightbulb" class="size-3.5" />
            <span>Idea</span>
          </button>
        </div>

        <!-- Title -->
        <div class="grid gap-y-2">
          <label for=""
            class="text-sm font-semibold">Título del proyecto *</label>
          <input type="text"
            placeholder="Ej: Aplicación de escritura en línea para estudiantes"
            class="px-4 py-2.5 border border-gray-200 rounded-lg text-sm">
        </div>

        <!-- Description -->
        <div class="grid gap-y-2">
          <label for=""
            class="text-sm font-semibold">Descripción *</label>
          <textarea
            rows="3"
            placeholder="Describe tu idea de forma breve y clara"
            class="px-4 py-2.5 border border-gray-200 rounded-lg text-sm resize-none"></textarea>
        </div>

        <!-- Tags -->
        <div class="grid gap-y-2">
          <label for=""
            class="text-sm font-semibold">Etiquetas (ej. #tecnologías #diseño #marketing)</label>
          <div class="flex items-center gap-x-2 w-full">
            <div class="relative w-full">
              <input type="text"
                placeholder="Ej: Aplicación de escritura en línea para estudiantes"
                class="px-4 pl-9 py-2.5 border border-gray-200 rounded-lg text-sm w-full">
              <p class="text-gray-600 absolute px-4 py-2 top-0 start-0 text-lg font-semibold">#</p>
            </div>
            <button class="bg-primary px-2.5 py-2.5 rounded-lg text-white">
              <lucide-icon [name]="Plus" class="size-5 stroke-2" />
            </button>
          </div>
        </div>

        <!-- Upload File -->
        <div class="grid gap-y-2">
          <label for=""
            class="text-sm font-semibold">Adjuntar achivo (opcional)</label>
          <input type="text"
            placeholder="Selecciona el tipo de archivo"
            class="px-4 py-2.5 border border-gray-200 rounded-lg text-sm">
        </div>

        <!-- Select Colabs -->
        <div class="grid gap-y-2">
          <label for=""
            class="text-sm font-semibold">¿Solicitar colaboración en la idea?</label>
          <div class="flex items-center">
            <input type="radio"
              name="hs-default-radio"
              class="shrink-0 border-gray-700 rounded-full text-primary focus:ring-primary checked:border-primary disabled:opacity-50 disabled:pointer-events-none"
              id="hs-default-radio">

            <label for="hs-default-radio" class="text-sm ms-2 font-semibold mr-5">Sí</label>

            <input type="radio"
              name="hs-default-radio"
              class="shrink-0 border-gray-700 rounded-full text-primary focus:ring-primary checked:border-primary disabled:opacity-50 disabled:pointer-events-none"
              id="hs-checked-radio"
              checked="">

            <label for="hs-checked-radio" class="text-sm ms-2 font-semibold">No</label>
          </div>

          <!-- If colabs are selected -->
          <div class="px-4 py-3 grid grid-cols-[auto_1fr] gap-x-3 bg-primary/10 rounded-xl">
            <div class="mt-1">
              <lucide-icon [name]="Users" class="size-4 text-primary" />
            </div>
            <div>
              <p class="text-primary text-sm font-semibold">Busco colaboradores</p>
              <p class="text-primary text-xs">Etiqueta aparecerá en tu publicación</p>
            </div>
          </div>
        </div>

        <!-- Select Privacity -->
        <div class="grid gap-y-2">
          <label for=""
            class="text-sm font-semibold">Privacidad de la publicación</label>
          <div class="w-full">
            <select data-hs-select='{
              "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
              "toggleClasses": "hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 relative py-2.5 ps-4 pe-9 flex gap-x-2 text-nowrap w-full cursor-pointer bg-white border border-gray-200 rounded-lg text-start text-sm focus:outline-hidden focus:ring-2 focus:ring-primary",
              "dropdownClasses": "mt-2 z-50 w-full max-h-72 p-1 space-y-0.5 bg-white border border-gray-200 rounded-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300",
              "optionClasses": "py-2 px-4 w-full text-sm cursor-pointer hover:bg-gray-100 rounded-lg focus:outline-hidden focus:bg-gray-100",
              "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"hidden hs-selected:block\"><svg class=\"shrink-0 size-3.5 text-primary \" xmlns=\"http:.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg></span></div>",
              "extraMarkup": "<div class=\"absolute top-1/2 end-3 -translate-y-1/2\"><svg class=\"shrink-0 size-3.5 text-gray-500 \" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"m7 15 5 5 5-5\"/><path d=\"m7 9 5-5 5 5\"/></svg></div>"
            }' class="hidden">
              <option>Pública</option>
              <option>Solo amigos</option>
              <option>Solo yo</option>
            </select>
          </div>
        </div>

      </div>
      <!-- End Content -->

      <!-- Buttons -->
      <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t border-gray-200">
        <button type="button"
          class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
          data-hs-overlay="#hs-scale-animation-modal">
          Cancelar
        </button>

        <button type="button"
          class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-primary text-white hover:bg-primar-darky-dark focus:outline-hidden focus:bg-primary-dark disabled:opacity-50 disabled:pointer-events-none">
          Publicar
        </button>
      </div>
      <!-- End Buttons -->

    </form>
  </div>
</div>

<!-- End Modal Add Post -->
