<section class="flex flex-col min-h-[100dvh] px-2 sm:px-5 py-7 lg:px-10">

  <div class="grid space-y-7">

    <!-- Title -->
    <div class="flex items-center justify-between gap-x-5 max-sm:px-3">
      <h1 class="text-xl font-medium">Semillero de Ideas</h1>
      <button type="button"
        class="text-sm font-medium rounded-lg py-2 px-3 text-white bg-primary hover:bg-primary-dark">
        Compartir <span class="max-sm:hidden">idea</span>
      </button>
    </div>
    <!-- End Title -->

    <!-- Content -->
    <component-student-ideas-all />
    <!-- End Content -->

  </div>

</section>