<section class="space-y-1">

  <button class="rounded-xl bg-gray-50 px-5 py-4 flex gap-x-3 text-start w-full">

    <!-- Icon -->
    <div class="mt-1">
      <lucide-icon [name]="Megaphone" class="size-5" />
    </div>

    <!-- Content -->
    <div class="grid">
      <p class="font-semibold">Convocatoriasabiertas de "programación"</p>
      <p class="text-sm text-gray-700 line-clamp-2">Se activó una alerta de eventos próximos relacionados a tus intereses con "programación", hecha un vistazo a los próximos eventos.</p>
      <p class="mt-2 text-xs text-gray-700">Hace 5 minutos</p>
    </div>

  </button>

  <button class="rounded-xl bg-gray-50 px-5 py-4 flex gap-x-3 text-start w-full">

    <!-- Icon -->
    <div class="mt-1">
      <lucide-icon [name]="Heart" class="size-5" />
    </div>

    <!-- Content -->
    <div class="grid">
      <p class="font-semibold">Tu publicación está en tendencias</p>
      <p class="text-sm text-gray-700 line-clamp-2">Tu post de "Programación Web con Python y Flask recibió mas 660 me gusta".</p>
      <p class="mt-2 text-xs text-gray-700">Hace 40 minutos</p>
    </div>

  </button>

    <button class="rounded-xl bg-gray-50 px-5 py-4 flex gap-x-3 text-start w-full">

    <!-- Icon -->
    <div class="mt-1">
      <lucide-icon [name]="Megaphone" class="size-5" />
    </div>

    <!-- Content -->
    <div class="grid">
      <p class="font-semibold">Convocatoriasabiertas de "programación"</p>
      <p class="text-sm text-gray-700 line-clamp-2">Se activó una alerta de eventos próximos relacionados a tus intereses con "programación", hecha un vistazo a los próximos eventos.</p>
      <p class="mt-2 text-xs text-gray-700">Hace 5 minutos</p>
    </div>

  </button>

  <button class="rounded-xl bg-gray-50 px-5 py-4 flex gap-x-3 text-start w-full">

    <!-- Icon -->
    <div class="mt-1">
      <lucide-icon [name]="Heart" class="size-5" />
    </div>

    <!-- Content -->
    <div class="grid">
      <p class="font-semibold">Tu publicación está en tendencias</p>
      <p class="text-sm text-gray-700 line-clamp-2">Tu post de "Programación Web con Python y Flask recibió mas 660 me gusta".</p>
      <p class="mt-2 text-xs text-gray-700">Hace 40 minutos</p>
    </div>

  </button>

    <button class="rounded-xl bg-gray-50 px-5 py-4 flex gap-x-3 text-start w-full">

    <!-- Icon -->
    <div class="mt-1">
      <lucide-icon [name]="Megaphone" class="size-5" />
    </div>

    <!-- Content -->
    <div class="grid">
      <p class="font-semibold">Convocatoriasabiertas de "programación"</p>
      <p class="text-sm text-gray-700 line-clamp-2">Se activó una alerta de eventos próximos relacionados a tus intereses con "programación", hecha un vistazo a los próximos eventos.</p>
      <p class="mt-2 text-xs text-gray-700">Hace 5 minutos</p>
    </div>

  </button>

  <button class="rounded-xl bg-gray-50 px-5 py-4 flex gap-x-3 text-start w-full">

    <!-- Icon -->
    <div class="mt-1">
      <lucide-icon [name]="Heart" class="size-5" />
    </div>

    <!-- Content -->
    <div class="grid">
      <p class="font-semibold">Tu publicación está en tendencias</p>
      <p class="text-sm text-gray-700 line-clamp-2">Tu post de "Programación Web con Python y Flask recibió mas 660 me gusta".</p>
      <p class="mt-2 text-xs text-gray-700">Hace 40 minutos</p>
    </div>

  </button>

    <button class="rounded-xl bg-gray-50 px-5 py-4 flex gap-x-3 text-start w-full">

    <!-- Icon -->
    <div class="mt-1">
      <lucide-icon [name]="Megaphone" class="size-5" />
    </div>

    <!-- Content -->
    <div class="grid">
      <p class="font-semibold">Convocatoriasabiertas de "programación"</p>
      <p class="text-sm text-gray-700 line-clamp-2">Se activó una alerta de eventos próximos relacionados a tus intereses con "programación", hecha un vistazo a los próximos eventos.</p>
      <p class="mt-2 text-xs text-gray-700">Hace 5 minutos</p>
    </div>

  </button>

  <button class="rounded-xl bg-gray-50 px-5 py-4 flex gap-x-3 text-start w-full">

    <!-- Icon -->
    <div class="mt-1">
      <lucide-icon [name]="Heart" class="size-5" />
    </div>

    <!-- Content -->
    <div class="grid">
      <p class="font-semibold">Tu publicación está en tendencias</p>
      <p class="text-sm text-gray-700 line-clamp-2">Tu post de "Programación Web con Python y Flask recibió mas 660 me gusta".</p>
      <p class="mt-2 text-xs text-gray-700">Hace 40 minutos</p>
    </div>

  </button>
    <button class="rounded-xl bg-gray-50 px-5 py-4 flex gap-x-3 text-start w-full">

    <!-- Icon -->
    <div class="mt-1">
      <lucide-icon [name]="Megaphone" class="size-5" />
    </div>

    <!-- Content -->
    <div class="grid">
      <p class="font-semibold">Convocatoriasabiertas de "programación"</p>
      <p class="text-sm text-gray-700 line-clamp-2">Se activó una alerta de eventos próximos relacionados a tus intereses con "programación", hecha un vistazo a los próximos eventos.</p>
      <p class="mt-2 text-xs text-gray-700">Hace 5 minutos</p>
    </div>

  </button>

  <button class="rounded-xl bg-gray-50 px-5 py-4 flex gap-x-3 text-start w-full">

    <!-- Icon -->
    <div class="mt-1">
      <lucide-icon [name]="Heart" class="size-5" />
    </div>

    <!-- Content -->
    <div class="grid">
      <p class="font-semibold">Tu publicación está en tendencias</p>
      <p class="text-sm text-gray-700 line-clamp-2">Tu post de "Programación Web con Python y Flask recibió mas 660 me gusta".</p>
      <p class="mt-2 text-xs text-gray-700">Hace 40 minutos</p>
    </div>

  </button>


</section>
