<section class="p-3 md:p-5 border border-gray-200 rounded-xl shadow-xs bg-white">

  <div class="space-y-2">
    <div
      class="bg-primary bg-cover w-full h-36 rounded-lg"
    ></div>
    <div
      class="relative bg-primary flex items-center justify-center rounded-full w-28 h-28 border-4 border-white -mt-24 ml-3"
    >
      <!-- <img
        src="http://avatars.githubusercontent.com/u/148911330?v=4"
        class="size-full bg-gray-100 rounded-full object-cover"
        alt="Foto Usuario"
      /> -->
      <ng-container *ngIf="userAvatar; else showInitial">
        <img [src]="userAvatar" alt="avatar" class="h-full w-full object-cover">
      </ng-container>
      <ng-template #showInitial>
        <span class="text-4xl font-semibold text-white">{{ userInitial }}</span>
      </ng-template>
    </div>
    <div class="flex flex-col w-fit ml-3">
      <h2 class="font-medium text-xl line-clamp-1">{{ userName }}</h2>

      <div class="text-sm text-gray-500 flex items-center gap-x-2">
        <p>Ingeniería de Sistemas</p>
        <div class="size-1 rounded-full bg-gray-600"></div>
        <p>8° ciclo</p>
        <div class="size-1 rounded-full bg-gray-600"></div>
        <p>Sede Chiclayo</p>
      </div>

      <div class="flex items-center gap-x-2">
        <button type="button" class="flex items-center gap-x-1 text-sm font-semibold rounded-full px-4 py-1.5 border border-primary text-primary text-start w-fit hover:underline mt-5">
          <lucide-icon [name]="UserPlus" class="size-3.5" />
          <p>Seguir</p>
        </button>
        <button type="button" class="text-sm font-semibold rounded-full px-4 py-1.5 border border-primary text-primary text-start w-fit hover:underline mt-5">
          <p>Información de contacto</p>
        </button>
      </div>
    </div>
  </div>

  <div class="flex items-center gap-x-2 pb-2 pt-5 overflow-x-auto scrollbar-hide">
    <a
      routerLink="/perfil/"
      #rlaGeneral="routerLinkActive"
      routerLinkActive="pointer-events-none text-gray-900"
      [routerLinkActiveOptions]="{ exact: true }"
      class="relative inline-flex items-center gap-x-1.5 px-2 py-1.5 rounded-lg text-gray-500 hover:bg-gray-100 hover:text-black"
    >
      <lucide-icon [name]="ClipboardMinus" class="size-4.5 stroke-[1.5]" />
      <p class="text-sm font-medium">Información General</p>
      <div
        class="absolute -bottom-1 left-1/2 -translate-x-1/2 w-[30%] h-[2.5px] rounded-full"
        [ngClass]="rlaGeneral.isActive ? 'bg-gray-900' : 'bg-transparent'"
      ></div>
    </a>

    <a
      routerLink="portafolio"
      #rlaPortfolio="routerLinkActive"
      routerLinkActive="pointer-events-none text-gray-900"
      class="relative inline-flex items-center gap-x-1.5 px-2 py-1.5 rounded-lg text-gray-500 hover:bg-gray-100 hover:text-black"
    >
      <lucide-icon [name]="Folder" class="size-4.5 stroke-[1.5]" />
      <p class="text-sm font-medium">Portafolio</p>
      <div
        class="absolute -bottom-1 left-1/2 -translate-x-1/2 w-[30%] h-[2.5px] rounded-full"
        [ngClass]="rlaPortfolio.isActive ? 'bg-gray-900' : 'bg-transparent'"
      ></div>
    </a>

    <a
      routerLink="ideas"
      #rlaIdeas="routerLinkActive"
      routerLinkActive="pointer-events-none text-gray-900"
      class="relative inline-flex items-center gap-x-1.5 px-2 py-1.5 rounded-lg text-gray-500 hover:bg-gray-100 hover:text-black"
    >
      <lucide-icon [name]="Lightbulb" class="size-4.5 stroke-[1.5]" />
      <p class="text-sm font-medium">Ideas</p>
      <div
        class="absolute -bottom-1 left-1/2 -translate-x-1/2 w-[30%] h-[2.5px] rounded-full"
        [ngClass]="rlaIdeas.isActive ? 'bg-gray-900' : 'bg-transparent'"
      ></div>
    </a>

    <!-- <a
      routerLink="propuestas"
      #rlaProposals="routerLinkActive"
      routerLinkActive="pointer-events-none text-gray-900"
      class="relative inline-flex items-center gap-x-1.5 px-2 py-1.5 rounded-lg text-gray-500 hover:bg-gray-100 hover:text-black"
    >
      <lucide-icon [name]="Handshake" class="size-4.5 stroke-[1.5]" />
      <p class="text-sm font-medium">Propuestas</p>
      <div
        class="absolute -bottom-1 left-1/2 -translate-x-1/2 w-[30%] h-[2.5px] rounded-full"
        [ngClass]="rlaProposals.isActive ? 'bg-gray-900' : 'bg-transparent'"
      ></div>
    </a> -->
  </div>

</section>
