<section class="border border-gray-200 rounded-xl bg-white p-5 grid gap-y-2">

  <div class="">
    <h2 class="font-semibold">Personas que podrías conocer</h2>
    <p class="text-gray-600 text-sm">Perfiles similiares a tus intereses</p>
  </div>

  <div class="divide-y divide-gray-300">
    <a
      href="/usuarios/1"
      class="py-3 flex gap-x-2 group">

      <div class="size-10 min-w-10 rounded-full bg-gray-200">
      </div>

      <div class="space-y-1">
        <p class="text-sm font-semibold group-hover:underline group-hover:text-primary">Dany Tolentino Tarazona</p>
        <p class="text-sm line-clamp-2">Desarrollador de software | Programador Fullstack | Diseñador UI/UX | Ing. de Sistemas | Spring Boot | Angular</p>
        <button type="button"
          class="mt-2 flex items-center gap-x-1 text-sm font-semibold rounded-full px-3.5 py-1 border border-primary text-primary text-start w-fit hover:underline">
          <lucide-icon [name]="UserPlus" class="size-3.5" />
          <p>Seguir</p>
        </button>
      </div>
    </a>

    <a
      href="/usuarios/1"
      class="py-3 flex gap-x-2 group">

      <div class="size-10 min-w-10 rounded-full bg-gray-200">
      </div>

      <div class="space-y-1">
        <p class="text-sm font-semibold group-hover:underline group-hover:text-primary">Dany Tolentino Tarazona</p>
        <p class="text-sm line-clamp-2">Desarrollador de software | Programador Fullstack | Diseñador UI/UX | Ing. de Sistemas | Spring Boot | Angular</p>
        <button type="button"
          class="mt-2 flex items-center gap-x-1 text-sm font-semibold rounded-full px-3.5 py-1 border border-primary text-primary text-start w-fit hover:underline">
          <lucide-icon [name]="UserPlus" class="size-3.5" />
          <p>Seguir</p>
        </button>
      </div>
    </a>

    <a
      href="/usuarios/1"
      class="py-3 flex gap-x-2 group">

      <div class="size-10 min-w-10 rounded-full bg-gray-200">
      </div>

      <div class="space-y-1">
        <p class="text-sm font-semibold group-hover:underline group-hover:text-primary">Dany Tolentino Tarazona</p>
        <p class="text-sm line-clamp-2">Desarrollador de software | Programador Fullstack | Diseñador UI/UX | Ing. de Sistemas | Spring Boot | Angular</p>
        <button type="button"
          class="mt-2 flex items-center gap-x-1 text-sm font-semibold rounded-full px-3.5 py-1 border border-primary text-primary text-start w-fit hover:underline">
          <lucide-icon [name]="UserPlus" class="size-3.5" />
          <p>Seguir</p>
        </button>
      </div>
    </a>
  </div>

</section>